.display-bttn {
    color: #d8d8d8;
    border: 3px solid #708090;
    background-image: -webkit-linear-gradient(30deg, #708090 50%, transparent 50%);
    background-image: linear-gradient(30deg, #708090 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }
  .display-bttn:hover {
    background-position: 100%;
    color: #d8d8d8;
  }
  .navbar-inverse{
    background-color: black !important;
}
nav a span {
  color: #d8d8d8;
}
@media only screen and (max-width: 1000px) {
  .navbar-inverse .navbar-brand img{
    width:90px
  }
}