<nav class="navbar navbar-expand-lg navbar-inverse">
    <a class="navbar-brand mx-2" href="#">
        <img src="/assets/images/seroo.png" width="110px" class="img-fluid"> &nbsp; &nbsp;
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText">
      <i class="fa-solid fa-bars text-light fa-2x">
      </i> 
    </button>
    
    <div class="collapse navbar-collapse"  id="navbarText">
      <ul class="navbar-nav w-100 mr-auto">
        <li class="nav-item active">
          
        </li>
      </ul>
      <span class="navbar-text ml-auto">
        <button class="btn display-bttn">Services</button>
      </span> &nbsp;
      <span class="navbar-text ml-auto">
        <a class="btn display-bttn" href="mailto:zero4services@gmail.com">Contact </a>
      </span> &nbsp;&nbsp;
    </div>
  </nav>
