<nav class="navbar navbar-expand-lg fixed-top navbar-inverse" (scroll)="onWindowScroll()">
    <a class="navbar-brand mx-2" href="#">
        <img src="/assets/images/sero.png" width="50px" class="img-fluid"> &nbsp; &nbsp;
        <span>Zero Four Services Ltd</span>
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarText">
      <ul class="navbar-nav w-100 mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light fw-bold" href="#">Home</a>
        </li>
      </ul>
      <span class="navbar-text ml-auto">
        <button class="btn display-bttn">Services</button>
      </span> &nbsp;
      <span class="navbar-text ml-auto">
        <button class="btn display-bttn">Contact </button>
      </span>
    </div>
  </nav>
