<app-nav></app-nav>
<div id="wrapper">
    <div id="homepage-container" class="container-fluid m-0">
      <div class="row ml-auto">
        
        <div id="anime-div" class="text-end">
            <p class="mx-3">
              Impact Business Advisory Services
            </p>
          <h1 class="mx-3">
            Supporting Investors, <br> With Purpose.
          </h1>
          <div class="mx-3">
            <button class="btn p display-bttn fw-bold px-3 py-2">Connect</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center py-5 mt-5">
        <h2 class="text-center py-2">Who we are
        </h2> 
        <p class="w-50 py-2 text-start mx-auto mt-5">
          Zero 4 is a Nigeria-based business advisory company dedicated to helping institutional, public, and private clients expand and structure their operations for sustainable growth. Our team offers deep local and international expertise in designing market entry strategies, optimizing business structures, and improving operational efficiencies. We work as strategic partners, providing insights and tailored solutions to drive business expansion, streamline operations, and enhance competitiveness across diverse sectors
        </p>
        
    </div>
    <div class="container mx-auto">
        <div class="modal-body">
            <div class="row justify-space-around">
                <div class="fv-row mb-7 col-lg-2 col-md-0 col-sm-0"></div>
              <div class="fv-row mb-7 col-lg-4 col-md-6 col-sm-12 px-3 my-1 py-3">
                  <p class="text-center mb-2"><i class="fa-solid fa-list-check p-4 rounded-circle fa-6x"></i></p>
                  <h1 class="text-center">Planning, Policies and Procedures</h1>
                  <p>
                    We assist clients in designing investment strategy, creating investment policies, and developing processes and procedures that align their investments with their financial and impact goals.
                  </p>
              </div>
              <div class="fv-row mb-7 col-lg-4 col-md-6 col-sm-12 px-3 my-1 py-3">
                    <p class="text-center mb-2"><i class="fa-solid fa-chart-line p-4 rounded-circle fa-6x"></i></p>
                    <h1 class="text-center">Portfolio Management </h1>
                    <p>
                        We manage impact investment portfolios across asset classes and impact themes - from sourcing, diligence and structuring to monitoring and reporting.
                    </p>
              </div>
              <div class="fv-row mb-7 col-lg-2 col-md-0 col-sm-0"></div>
            </div>
            <div class="row justify-space-around mt-4">
                <div class="fv-row mb-7 col-lg-2 col-md-0 col-sm-0"></div>
                <div class="fv-row mb-7 col-lg-4 col-md-6 col-sm-12 ml-3 my-1 px-3 py-3">
                  <p class="text-center mb-2"><i class="fa-solid fa-people-group p-4 rounded-circle fa-5x"></i></p>
                    <h1 class="text-center">Fund Development and Syndication</h1>
                    <p>
                        We develop funds to address thematic and/or geographic impact theses – from strategy and pipeline development to capitalization strategy, fund launch and full-service portfolio management.
                    </p>
                </div>
                <div class="fv-row mb-7 col-lg-4 col-md-6 col-sm-12 mr-3 my-1 px-3 py-3">
                      <p class="text-center  mb-2"><i class="fa-solid fa-sliders p-4 rounded-circle fa-6x"></i></p>
                      <h1 class="text-center">Training and Education</h1>
                      <p>
                        We design and deliver customized training or coaching for trustees, staff, private investors, universities, and others interested in learning about impact investing.
                      </p>
                </div>
                <div class="fv-row mb-7 col-lg-2 col-md-0 col-sm-0"></div>
              </div>
              <div class="text-center">
                <button class="btn display-bttn px-3 py-2">Contact Us</button>
              </div>
        </div>
    </div>
    <div class="container-fluid text-center py-5 mt-5 subscribe-div">
        <h2 class="text-center py-2">Subscribe
        </h2>
  
        <p class="w-50 py-4 text-center mx-auto mt-1">
            Sign up with your email address to receive news and updates.
        </p>  
        <form class="form w-25 mx-auto" [formGroup]='formGroup' ovalidate="novalidate" id="add-area-form">
                <input 
                    type="text" 
                    class="form-control form-control-lg form-control-solid"
                    name="email" placeholder=" Enter Email Address"
                    formControlName="email"
                    
                />
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'email',
                    message: 'Correct Email Format is Required',
                    control: formGroup.controls['email']
                  }"
                ></ng-container>
                <br>
                <button class="btn display-bttn px-3 py-2">Sign Up</button>
        </form>      
        <p class="mt-4">Your privacy matters to us</p>   
    </div>
    <div class="container-fluid footer pb-3">
      <h3 class="text-center mb-4">Terms Of Service</h3>

          <p class="footer-text">
            Zero 4  is a Registered Business Adviser. Advisory services are only offered to clients or prospective clients.. This website is solely for informational purposes. Past performance is no guarantee of future returns. Business involves risk and possible loss of principal capital. No advice may be rendered by Zero 4 unless a client service agreement is in place.
          </p>
       
    </div>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.dirty || control.touched">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block text-light">
                <span role="alert" >
                    {{ message }}
                </span>
            </div>
        </div>
    </ng-container>
  </ng-template>